# https://hub.docker.com/r/linuxserver/bazarr
---
services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - /opt/bazarr/config:/config
      - ${DISK0}/movies:/movies
      - ${DISK0}/tvseries:/tv
    ports:
      - 6767:6767
    restart: unless-stopped
    labels:
      - com.centurylinklabs.watchtower.enable=true # watchtower auto-update
      - flame.type=app # flame label https://github.com/pawelmalak/flame
      - flame.name=bazarr
      - flame.url=http://${HOSTNAME}:6767/ # or subdomain https://app_name.${DOMAIN}/ or subfolder https://${DOMAIN}/app_name
      - flame.icon=subtitles # https://materialdesignicons.com/
      - homepage.group=Servarr # homepage label https://gethomepage.dev/latest/
      - homepage.name=Bazarr
      - homepage.icon=bazarr.png # https://pictogrammers.com/library/mdi/ or https://github.com/walkxcode/dashboard-icons/tree/main/png
      - homepage.href=http://${HOSTNAME}:6767/
      - homepage.description=
      # - homepage.widget.type=bazarr
      # - homepage.widget.url=http://${HOSTNAME}:6767 # local http://${HOSTNAME}:80/ or subdomain https://app_name.${DOMAIN}/ or subfolder https://${DOMAIN}/app_name
      # - homepage.widget.key=${BAZARR_API_KEY}
      # - homepage.widget.fields=["missingEpisodes","missingMovies"] # optional
networks:
  default:
    external: true
    name: main-network
