# https://hub.docker.com/r/linuxserver/sonarr
---
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - /opt/sonarr/config:/config
      - ${DISK0}/tvseries:/tv
      - ${DISK0}/downloads:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    labels:
      - com.centurylinklabs.watchtower.enable=true # watchtower auto-update
      - flame.type=app # flame label https://github.com/pawelmalak/flame
      - flame.name=sonarr
      - flame.url=http://${HOSTNAME}:8989/ # local http://${HOSTNAME}:80/ or subdomain https://app_name.${DOMAIN}/ or subfolder https://${DOMAIN}/app_name
      - flame.icon=television-box # https://pictogrammers.com/library/mdi/
      - homepage.group=Servarr # homepage label https://github.com/benphelps/homepage
      - homepage.name=Sonarr
      - homepage.icon=sonarr.png # https://pictogrammers.com/library/mdi/ or https://github.com/walkxcode/dashboard-icons/tree/main/png
      - homepage.href=http://${HOSTNAME}:8989/ # local http://${HOSTNAME}:80/ or subdomain https://app_name.${DOMAIN}/ or subfolder https://${DOMAIN}/app_name
      - homepage.description=
      # - homepage.widget.type=sonarr
      # - homepage.widget.url=http://${HOSTNAME}:8989 # local http://${HOSTNAME}:80/ or subdomain https://app_name.${DOMAIN}/ or subfolder https://${DOMAIN}/app_name
      # - homepage.widget.key=${SONARR_API_KEY}
      # - homepage.widget.fields=["wanted","queued","series"] # optional
networks:
  default:
    external: true
    name: main-network
